config = {}

# HOST server IP address
# if you don't want to use a `central` server to control it
# (just regard it as an independent node), leave it blank
# This param is used for commnuication limit

config["CONTROL_SERVER_IP"] = ""
config["CONTROL_SERVER_PORT"] = 8080
config["CONTROL_SERVER_TCP_PORT"] = 6983
config["CONTROL_SERVER_UDP_PORT"] = 6989

# max active instance number
config["SERVICE_QUOTA"] = 20

# your server location
config["SERVER_LOCATION"] = ""

config["VERSION"] = "0.1.1"

# SHADOWSOCKS MIN and MAX PORT
config["SHADOWSOCKS_MIN_PORT"] = 12000
config["SHADOWSOCKS_MAX_PORT"] = 16000
config["SS_DEFAULT_METHOD"] = "aes-256-cfb"
config["SS_DEFAULT_TIMEOUT"] = 100

# server traffic Limitation (unit: MB)
config["MMAX_TRAFFIC"] = 300 * 1000
config["MMAX_DEVICES"] = 256

# heart beat pulse unit: sec
config["HEARTBEAT_PULSE"] = 30

# socket server
config["SERVER_LISTEN_PORT"] = 7129

# redis server
config["REDIS_PORT"] = 6379
config["REDIS_HOST"] = "127.0.0.1"

# mysql
config["MYSQL_CONNECTION_IP"] = "127.0.0.1"
config["MYSQL_USER"] = "root"
config["MYSQL_PASSWORD"] = "" # your mysql password

config["SEND_HEARTBEAT_PACK"] = True